
/* 通用展示提醒框 */
.modal-overlay[modal-type = "showModal"]{
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.modal-overlay[modal-type = "showModal"].show {
    opacity: 1;
    display: flex;
}
.modal-overlay[modal-type="showModal"] .modal{
    max-width: 350px;
    min-width: 250px;
    margin-top: 60px;
    max-height: none;
    overflow: hidden;
    border: 1px solid var(--color-text-lighter);
    box-shadow: var(--shadow);
    pointer-events: auto;
    padding: var(--space-5);
    user-select: none;
}
.modal-overlay[modal-type="showModal"] .modal-header{
    padding: 0;
    border: none;
    justify-content: flex-start;
    /* margin-top: var(--space-4); */
    margin-bottom: var(--space-3);
}
.modal-overlay[modal-type="showModal"] .modal-header>h3{
    text-align: center;
    color: var(--color-primary-light);
}
.modal-overlay[modal-type="showModal"] .modal-icon{
    flex-shrink: 0; /* 防止图标被压缩 */
    margin:var(--space-2) var(--space-3) 0 0;
}
.modal-overlay[modal-type="showModal"] .modal-body{
    padding: 0;
}
.modal-overlay[modal-type="showModal"] .modal-footer{
    padding: 0;
    border: none;
}
/* 无按钮自动消失提醒框 */
.modal-overlay[modal-type = "autoModal"]{
    background-color: transparent;
    /* align-items: flex-start; */
    overflow: hidden;
    pointer-events: none;  /* 阻止指针事件 */
    transition: opacity 0.3s ease;
}
.modal-overlay[modal-type = "autoModal"].show{
    opacity: 1;
    display: flex;
}
.modal-overlay[modal-type = "autoModal"] .modal{
    min-width: 200px;
    width: auto;
    margin-top: 70px;
    max-height: none;
    overflow: hidden;
    border: 1px solid var(--color-text-lighter);
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    padding: var(--space-1);
}
.modal-overlay[modal-type="autoModal"] h3{
    margin-bottom: 0;
    text-align: center;
    color: var(--color-text-light);
    line-height: 2.5;
    font-size: var(--font-size-base);
    white-space: nowrap;
}
.modal-overlay[modal-type="autoModal"] .modal-icon{
    flex-shrink: 0; /* 防止图标被压缩 */
    margin:var(--space-2) var(--space-3) 0 0;
}
