/* 首页特定样式 */

/* 广告区域 */
.banner {
    background: linear-gradient(135deg,var(--color-primary),red);
    color: white;
    padding: var(--space-8) 0;
    text-align: center;
    margin-bottom: var(--space-8);
    user-select: none;
}

.banner h1 {
    color: white;
    /* 明确声明的样式 > 继承的样式，所以不会默认继承，因为不明确，而h1通用元素选择器指明了
        所以要么明确说明继承或者把颜色再敲一次
    */
    /* color: inherit; */
    font-size: var(--font-size-3xl);
    margin-bottom: var(--space-10);
}

.banner p {
    font-size: var(--font-size-lg);
    opacity: 0.9;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* 最新文章区域 */
.latest-articles {
    padding: var(--space-8) 0;
    user-select: none;
}

.latest-articles-header {
    text-align: center;
    margin-bottom: var(--space-8);
}
.latest-articles-header h2 {
    font-size: var(--font-size-2xl);
    color: var(--color-text);
    margin-bottom: var(--space-2);
}
