/* 文章列表组件 */
.article-list {
    display: grid;
    gap:var(--space-6);
}

.article-item {
    /* composes: card */
    background: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow);
    transition: box-shadow 0.2s ease, transform 0.2s ease;

    padding: var(--space-6);
    text-decoration: none;
    user-select: none;
}
.article-item:hover {
    box-shadow: var(--shadow-md);
    transform: translateY(-2px);
    text-decoration: none;
}

.article-title {
    font-size: var(--font-size-xl);
    margin-bottom: var(--space-3);
    transition: color 0.2s ease;  /* 不是加在触发它的父元素上，而是加在子元素上 */
}

.article-item:hover .article-title{
    color: var(--color-primary);
}


.article-excerpt {
    color: var(--color-text-light);
    margin-bottom: var(--space-4);
    line-height: 1.6;
}

.article-meta {
    display: flex;
    align-items: center;
    gap: var(--space-4);
    color: var(--color-text-lighter);
    font-size: var(--font-size-sm);
}

.article-time {
    display: flex;
    align-items: center;
    gap: var(--space-2);
}

